*{
     margin: 0px;
    padding: 0px; 
}
.header{
    background-color: black;
    color: white;
    height: 10vh;

    
}

.main-content{
    background-color: white;

}
.items{
    
    /* transition: 0.8s ease ; */
    width: max-content;
    margin: 25px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    display: inline-block;

}

.items:hover{
    border: 1px solid grey;

    /* transform: scale(1.1); */
    box-shadow: 0 0 10px 3px;
}

.images{
    display: inline-block;
}

.item-image-size{
    height: 200px;
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

.description{
    margin: 20px;
    min-height: 100px;
}

.item-select{
    margin: 10px 0 0 0 ;
}

.buynow-btn{
    border: 1px solid rgb(233, 169, 51);
    background: rgb(233, 169, 51);
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}

.buynow-btn:hover{
    border: 1px  solid rgb(164, 122, 32);
    box-shadow: 0 0 5px rgb(100, 77, 31) inset;
}